{% extends 'basic.html'%}
{% load static %}
{% block content %}
<style>
    .navbar {
        background: #5d646e;
    }

    form input {
        padding: 5px;
    }

    section {
        background-color: rgba(116, 149, 116, 0.911);
    }

    .form form {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 80vw;

    }

    .form {
        padding: 50px;
    }

    form label,
    input {
        margin: 10px;
    }

    form input {
        height: 22px;
    }

    .bnt {
        border: 2px;
        margin: 15px auto;
        width: 100px;

    }

    .blogs {
        border: 2px solid black;

    }

    .container {
        margin-top: 100px;
        width:  80vw;
        margin: auto;


    }

    .blogs {
        margin: 10px;
    }

    .img {
        width: 200px;
        height: 15px}
    footer{
        width:100vw;
        display:block;
    }
</style>

<div class="container">
    <strong>Writer :- {{blogs.author}}</strong>
    <h1>{{blogs.title}} </h1>
    <p>{{blogs.content | safe}}</p>
</div>

{% endblock %}