{% extends 'basic.html'%}
{% load static %}
{% block content %}

<section class="home">
    <h1>Our Community</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, quae. Quo autem laudantium inventore ipsam
        esse, dolorem at porro voluptas debitis nisi magnam, amet eveniet totam, maxime reiciendis. Neque voluptatem
        incidunt dolore asperiores praesentium possimus provident ut, fuga autem beatae?</p>
    <a href="{% url 'register'%}">Join Our Community</a>
    <a href="{% url 'login'%}"> Log In</a>
</section>
<hr>
<section class="ourcommunity">
    <h1 class="center">Our Community Work fields</h1>
    <main>
        <a href="#">
            <div class="box center">
                <img src="/static/image/clean.jpg" alt="">
                <h1>Cleaning Environment</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut corrupti architecto voluptas,
                    repudiandae modi nostrum omnis veniam ipsum delectus quo maiores suscipit cum earum vel at nulla
                    eum ipsam voluptates! Repellat quae nisi possimus. Dignissimos est tempora vero expedita sunt
                    tenetur quas totam amet rerum officiis, iusto sint fuga. Eum earum saepe pariatur blanditiis,
                    quas esse quae. Amet, inventore ut!</p>
            </div>
        </a>
        <a href="#">
            <div class="box center">
                <img src="/static/image/edu.jpg" alt="">
                <h1>Environment Education</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut corrupti architecto voluptas,
                    repudiandae modi nostrum omnis veniam ipsum delectus quo maiores suscipit cum earum vel at nulla
                    eum
                    ipsam voluptates! Repellat quae nisi possimus. Dignissimos est tempora vero expedita sunt
                    tenetur
                    quas totam amet rerum officiis, iusto sint fuga. Eum earum saepe pariatur blanditiis, quas esse
                    quae. Amet, inventore ut!</p>
            </div>
        </a>
        <a href="#">
            <div class="box center">
                <img src="/static/image/pu.jpg" alt="">
                <h1>Pollution Control </h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut corrupti architecto voluptas,
                    repudiandae modi nostrum omnis veniam ipsum delectus quo maiores suscipit cum earum vel at nulla
                    eum
                    ipsam voluptates! Repellat quae nisi possimus. Dignissimos est tempora vero expedita sunt
                    tenetur
                    quas totam amet rerum officiis, iusto sint fuga. Eum earum saepe pariatur blanditiis, quas esse
                    quae. Amet, inventore ut!</p>
            </div>
        </a>
        <a href="#">
            <div class="box center">
                <img src="/static/image/ge.jpg" alt="">
                <h1>Green Energy</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut corrupti architecto voluptas,
                    repudiandae modi nostrum omnis veniam ipsum delectus quo maiores suscipit cum earum vel at nulla
                    eum
                    ipsam voluptates! Repellat quae nisi possimus. Dignissimos est tempora vero expedita sunt
                    tenetur
                    quas totam amet rerum officiis, iusto sint fuga. Eum earum saepe pariatur blanditiis, quas esse
                    quae. Amet, inventore ut!</p>
            </div>
        </a>
        <a href="#">
            <div class="box center">
                <img src="/static/image/management.jpg" alt="">
                <h1>Environment management</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut corrupti architecto voluptas,
                    repudiandae modi nostrum omnis veniam ipsum delectus quo maiores suscipit cum earum vel at nulla
                    eum
                    ipsam voluptates! Repellat quae nisi possimus. Dignissimos est tempora vero expedita sunt
                    tenetur
                    quas totam amet rerum officiis, iusto sint fuga. Eum earum saepe pariatur blanditiis, quas esse
                    quae. Amet, inventore ut!</p>
            </div>
        </a>

    </main>
</section>
<hr>
<section class="member">
    <h1 class="center">Some Important Member Of Our Community</h1>
    <main>

        <div class="m-box center">
            <img src="/static/image/m2.jpeg" alt="">
            <h1> Mr. Robert </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quasi ipsa repudiandae quos
                corporis, fugiat asperiores nihil omnis recusandae quod quo ut ipsam voluptate illo itaque? Beatae,
                harum.</p>
        </div>
        <div class="m-box center">
            <img src="/static/image/m4.jpg" alt="">
            <h1>Ms. Emma jobs</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias autem, blanditiis optio labore
                laboriosam asperiores, mollitia exercitationem omnis illum consectetur eius veniam hic ullam!
            </p>
        </div>
        <div class="m-box center">
            <img src="/static/image/m1.jpg" alt="">
            <h1> Ms. Sophia hill</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit non doloribus quae molestiae autem
                incidunt, ea veritatis cupiditate eos rerum provident odio dolore architecto placeat, consequatur
                voluptatem nihil.</p>
        </div>


        <div class="m-box center">
            <img src="/static/image/m3.jpg" alt="">
            <h1>Mr. Varun sharma</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea illo omnis dignissimos magnam. Quasi
                voluptatem deleniti quia beatae illum officia perspiciatis, est ut voluptate modi quos sequi omnis
                nihil quidem?</p>
        </div>

    </main>
</section>
<hr>
<section class="NGOS">
    <h1 class="center">our supporter NGOS</h1>
    <main>
        <div class="n-box">
            <img src="/static/image/ngo1.jpg" alt="">
            <div class="ngoitem">
                <h1>happy life</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores cumque atque, quod, asperiores
                    perferendis vel tempora delectus iusto consequatur sed neque, consectetur sit fuga enim.</p>
            </div>
        </div>
        <div class="n-box">
            <img src="/static/image/ngo2.png" alt="">
            <div class="ngoitem">
                <h1>happy life</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores cumque atque, quod, asperiores
                    perferendis vel tempora delectus iusto consequatur sed neque, consectetur sit fuga enim.</p>
            </div>
        </div>
        <div class="n-box">
            <img src="/static/image/ngo3.jpg" alt="">
            <div class="ngoitem">
                <h1>happy life</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores cumque atque, quod, asperiores
                    perferendis vel tempora delectus iusto consequatur sed neque, consectetur sit fuga enim.</p>
            </div>
        </div>
        <div class="n-box">
            <img src="/static/image/ngo4.jpeg" alt="">
            <div class="ngoitem">
                <h1>happy life</h1>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores cumque atque, quod, asperiores
                    perferendis vel tempora delectus iusto consequatur sed neque, consectetur sit fuga enim.</p>
            </div>

        </div>
    </main>

</section>
<hr>
<section class="socialmedia">
    <h1 class="center"> Our Social Media Handle </h1>
    <main>
        <div class="smicons">
            <div class="smicon">
                <a href="https://www.instagram.com/mr._raj_42/">
                    <img src="/static/image/instagram.png" alt="">
                    <h1>Instagram</h1>
                </a>
            </div>
            <div class="smicon">
                <a href="">
                    <img src="/static/image/fb.png" alt="">
                    <h1>Facebook</h1>
                </a>
            </div>
            <div class="smicon">
                <a href="">
                    <img src="/static/image/twitter.png" alt="">
                    <h1>Twiteer</h1>
                </a>
            </div>
            <div class="smicon ">
                <a href="https://www.youtube.com/">
                    <img class="YouTube" src="/static/image/yt.png" alt="">
                    <h1>YouTube</h1>
                </a>
            </div>
        </div>
    </main>
</section>
<hr>



{% endblock %}